<header class="header">
    <div class="header__container">
        <div class="header__wrapper">
            <div class="header__main flex cv">
                <button class="header__menu js-open-modal" data-modal="2">
                    <svg class="icon">
                        <use xlink:href="img/icons/icons.svg#menu"></use>
                    </svg>
                </button>
                <a href="./index.html" class="header__logo flex cv">
                    <div>
                        <svg class="icon">
                            <use xlink:href="img/icons/icons.svg#logo"></use>
                        </svg>
                    </div>
                    <p>
                        Галерея Колониального Интерьера 
                    </p>
                </a>
                <div class="header__btn">
                    <a href="#">Каталог</a>
                    <a href="#">Мебель под заказ</a>
                    <a href="#">Контакты</a>
                </div>
                <div class="header__tel">
                    <a href="tel:+74993940379" class="header__number">+7 (499) 394-03-79</a>
                    <button class="header__call js-open-modal" data-modal="1">Обратный звонок</button>
                </div>
                <div class="header__block flex cv sb">
                    <button class="header__block-item icon-call js-open-modal" data-modal="1">
                        <svg class="icon">
                            <use xlink:href="img/icons/icons.svg#icon-call"></use>
                        </svg>
                    </button>
                    <button class="header__block-item icon-search">
                        <svg class="icon">
                            <use xlink:href="img/icons/icons.svg#search"></use>
                        </svg>
                    </button>
                    <!-- Удаяяем clear-active если в избранном ничего нету -->
                    <button class="header__block-item js-open-modal clear-active" data-modal="3">
                        <svg class="icon icon-like">
                            <use xlink:href="img/icons/icons.svg#like"></use>
                        </svg>
                        <span class="flex-cc">3</span>
                        <div class="shop-clear">
                            <div class="shop-clear__triangle"></div>
                            В избранном пусто
                        </div>
                    </button>
                    <!-- Удаяяем clear-active если в корзине ничего нету -->
                    <button class="header__block-item js-open-modal clear-active" data-modal="4">
                        <svg class="icon icon-shop">
                            <use xlink:href="img/icons/icons.svg#shop"></use>
                        </svg>
                        <span class="flex-cc">12</span>
                        <div class="shop-clear">
                            <div class="shop-clear__triangle"></div>
                            В корзине пусто
                        </div>
                    </button>
                </div>
            </div>
            <div class="header__search">
                <div class="header__search-wrapper">
                    <input type="text" class="header__find" placeholder="Поиск">
                    <div class="header__search-btn">
                        <svg class="icon header__search-icon">
                            <use xlink:href="img/icons/icons.svg#search"></use>
                        </svg>
                        <svg class="icon header__search-close">
                            <use xlink:href="img/icons/icons.svg#close-icon"></use>
                        </svg>
                    </div>
                </div>
                <div class="header__search-list">
                    <a href="#">Текстовая ссылка</a>
                    <a href="#">Текстовая ссылка</a>
                    <a href="#">Текстовая ссылка</a>
                    <a href="#">Текстовая ссылка</a>
                    <a href="#">Текстовая ссылка</a>
                </div>
            </div>
        </div>
    </div>
</header>