<header class="header">
    <div class="header__container">
        <div class="header__wrapper flex cv">
            <a href="#" class="header__menu js-open-modal" data-modal="2">
                <svg class="icon">
                    <use xlink:href="img/icons/icons.svg#menu"></use>
                </svg>
            </a>
            <a href="./index.html" class="header__logo flex cv">
                <div>
                    <svg class="icon">
                        <use xlink:href="img/icons/icons.svg#logo"></use>
                    </svg>
                </div>
                <p>
                    Галерея Колониального Интерьера 
                </p>
            </a>
            <div class="header__btn">
                <a href="#">Каталог</a>
                <a href="#">Мебель под заказ</a>
                <a href="#">Контакты</a>
            </div>
            <div class="header__tel">
                <a href="tel:+74993940379" class="header__number">+7 (499) 394-03-79</a>
                <a href="#" class="header__call js-open-modal" data-modal="1">Обратный звонок</a>
            </div>
            <div class="header__block flex cv sb">
                <a href="#" class="header__block-item icon-call js-open-modal" data-modal="1">
                    <svg class="icon">
                        <use xlink:href="img/icons/icons.svg#icon-call"></use>
                    </svg>
                </a>
                <a href="#" class="header__block-item icon-search">
                    <svg class="icon">
                        <use xlink:href="img/icons/icons.svg#search"></use>
                    </svg>
                </a>
                <a href="#" class="header__block-item">
                    <svg class="icon icon-like">
                        <use xlink:href="img/icons/icons.svg#like"></use>
                    </svg>
                    <span class="flex-cc">3</span>
                </a>
                <a href="#" class="header__block-item">
                    <svg class="icon icon-shop">
                        <use xlink:href="img/icons/icons.svg#shop"></use>
                    </svg>
                    <span class="flex-cc">12</span>
                </a>
            </div>
        </div>
    </div>
</header>