<div class="modal modal-right modal-price" data-modal="3">
    <div class="modal__close">
        <svg class="icon modal__cross js-modal-close">
            <use xlink:href="img/icons/icons.svg#close-icon"></use>
        </svg>
    </div>
    <div class="modal__wrapper modal-contact modal-start">
       <p class="modal-price__quantity">
            В избранном 5 товаров
       </p>
       <div class="modal-price__list" data-simplebar>
            <div class="cart modal-price__cart">
                <div class="modal-price__img">
                    <picture><source srcset="img/goods/goods1.webp" type="image/webp"><img class="cart__img-item element-animation" src="img/goods/goods1.png" alt="img"></picture>
                </div>
                <div class="modal-price__info">
                    <div class="modal-price__wrapper flex sb cv">
                        <div class="modal-price__title">
                            <div class="cart__name">
                                Браслет
                            </div>
                            <div class="cart__material">
                                Металл
                            </div>
                        </div>
                        <button class="modal-price__delete">
                            <svg class="icon">
                                <use xlink:href="img/icons/icons.svg#basket-del"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="cart__wrapper">
                        <div class="cart__price">145 000 ₽</div>
                        <button class="cart-buy">
                            <svg class="icon icon-shop">
                                <use xlink:href="img/icons/icons.svg#cart-buy"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="cart modal-price__cart">
                <div class="modal-price__img">
                    <picture><source srcset="img/goods/goods6.webp" type="image/webp"><img class="cart__img-item element-animation" src="img/goods/goods6.png" alt="img"></picture>
                </div>
                <div class="modal-price__info">
                    <div class="modal-price__wrapper flex sb cv">
                        <div class="modal-price__title">
                            <div class="cart__name">
                                Стол обеденный раздвижной
                            </div>
                            <div class="cart__material">
                                Металл, дерево, краска
                            </div>
                        </div>
                        <button class="modal-price__delete">
                            <svg class="icon">
                                <use xlink:href="img/icons/icons.svg#basket-del"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="cart__wrapper">
                        <div class="cart__price">145 000 ₽</div>
                        <button class="cart-buy">
                            <svg class="icon icon-shop">
                                <use xlink:href="img/icons/icons.svg#cart-buy"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="cart modal-price__cart">
                <div class="modal-price__img">
                    <picture><source srcset="img//proposal/proposal-one.webp" type="image/webp"><img class="cart__img-item element-animation" src="img//proposal/proposal-one.png" alt="img"></picture>
                </div>
                <div class="modal-price__info">
                    <div class="modal-price__wrapper flex sb cv">
                        <div class="modal-price__title">
                            <div class="cart__name">
                                Статуэтка Корова
                            </div>
                            <div class="cart__material">
                                Металл, дерево, краска
                            </div>
                        </div>
                        <button class="modal-price__delete">
                            <svg class="icon">
                                <use xlink:href="img/icons/icons.svg#basket-del"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="cart__wrapper">
                        <div class="cart__price">145 000 ₽</div>
                        <button class="cart-buy">
                            <svg class="icon icon-shop">
                                <use xlink:href="img/icons/icons.svg#cart-buy"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="cart modal-price__cart">
                <div class="modal-price__img">
                    <picture><source srcset="img/goods/goods14.webp" type="image/webp"><img class="cart__img-item element-animation" src="img/goods/goods14.png" alt="img"></picture>
                </div>
                <div class="modal-price__info">
                    <div class="modal-price__wrapper flex sb cv">
                        <div class="modal-price__title">
                            <div class="cart__name">
                                Браслет
                            </div>
                            <div class="cart__material">
                                Металл, камень
                            </div>
                        </div>
                        <button class="modal-price__delete">
                            <svg class="icon">
                                <use xlink:href="img/icons/icons.svg#basket-del"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="cart__wrapper">
                        <div class="cart__price">145 000 ₽</div>
                        <button class="cart-buy">
                            <svg class="icon icon-shop">
                                <use xlink:href="img/icons/icons.svg#cart-buy"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="cart modal-price__cart">
                <div class="modal-price__img">
                    <picture><source srcset="img/goods/goods15.webp" type="image/webp"><img class="cart__img-item element-animation" src="img/goods/goods15.png" alt="img"></picture>
                </div>
                <div class="modal-price__info">
                    <div class="modal-price__wrapper flex sb cv">
                        <div class="modal-price__title">
                            <div class="cart__name">
                                Браслет
                            </div>
                            <div class="cart__material">
                                Бронза, краска
                            </div>
                        </div>
                        <button class="modal-price__delete">
                            <svg class="icon">
                                <use xlink:href="img/icons/icons.svg#basket-del"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="cart__wrapper">
                        <div class="cart__price">145 000 ₽</div>
                        <button class="cart-buy">
                            <svg class="icon icon-shop">
                                <use xlink:href="img/icons/icons.svg#cart-buy"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="cart modal-price__cart">
                <div class="modal-price__img">
                    <picture><source srcset="img/goods/goods16.webp" type="image/webp"><img class="cart__img-item element-animation" src="img/goods/goods16.png" alt="img"></picture>
                </div>
                <div class="modal-price__info">
                    <div class="modal-price__wrapper flex sb cv">
                        <div class="modal-price__title">
                            <div class="cart__name">
                                Браслет
                            </div>
                            <div class="cart__material">
                                Бронза
                            </div>
                        </div>
                        <button class="modal-price__delete">
                            <svg class="icon">
                                <use xlink:href="img/icons/icons.svg#basket-del"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="cart__wrapper">
                        <div class="cart__price">145 000 ₽</div>
                        <button class="cart-buy">
                            <svg class="icon icon-shop">
                                <use xlink:href="img/icons/icons.svg#cart-buy"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="cart modal-price__cart">
                <div class="modal-price__img">
                    <picture><source srcset="img/goods/goods17.webp" type="image/webp"><img class="cart__img-item element-animation" src="img/goods/goods17.png" alt="img"></picture>
                </div>
                <div class="modal-price__info">
                    <div class="modal-price__wrapper flex sb cv">
                        <div class="modal-price__title">
                            <div class="cart__name">
                                Браслет
                            </div>
                            <div class="cart__material">
                                Бронза, краска
                            </div>
                        </div>
                        <button class="modal-price__delete">
                            <svg class="icon">
                                <use xlink:href="img/icons/icons.svg#basket-del"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="cart__wrapper">
                        <div class="cart__price">145 000 ₽</div>
                        <button class="cart-buy">
                            <svg class="icon icon-shop">
                                <use xlink:href="img/icons/icons.svg#cart-buy"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="cart modal-price__cart">
                <div class="modal-price__img">
                    <picture><source srcset="img/goods/goods18.webp" type="image/webp"><img class="cart__img-item element-animation" src="img/goods/goods18.png" alt="img"></picture>
                </div>
                <div class="modal-price__info">
                    <div class="modal-price__wrapper flex sb cv">
                        <div class="modal-price__title">
                            <div class="cart__name">
                                Браслет
                            </div>
                            <div class="cart__material">
                                Бронза, краска
                            </div>
                        </div>
                        <button class="modal-price__delete">
                            <svg class="icon">
                                <use xlink:href="img/icons/icons.svg#basket-del"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="cart__wrapper">
                        <div class="cart__price">145 000 ₽</div>
                        <button class="cart-buy">
                            <svg class="icon icon-shop">
                                <use xlink:href="img/icons/icons.svg#cart-buy"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="favourites-btn">
        <button class="shop-btn favourites-btn__add">
            Добавить всё в корзину
        </button>
        <button class="shop-btn favourites-btn__remove">
            Очистить избранное
        </button>
    </div>
</div>