<div class="pagination">
    <button class="more-btn flex cv ch">Загрузить ещё</button>
    <div class="pagination__list flex cv sb">
        <a class="pagination__prev flex cv" href="#">
            <svg class="icon">
                <use xlink:href="img/icons/icons.svg#arrow"></use>
            </svg>
        </a>
        <div class="pagination__page">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">...</a>
            <a href="#">8</a>
            <a class="active" href="#">9</a>
            <a href="#">10</a>
            <a href="#">...</a>
            <a href="#">16</a>
            <a href="#">17</a>
        </div>
        <a class="pagination__next flex cv" href="#">
            <svg class="icon">
                <use xlink:href="img/icons/icons.svg#arrow"></use>
            </svg>
        </a>
    </div>
</div>