<div class="modal modal-right modal-price basket-modal" data-modal="4">
    <div class="modal__close">
        <svg class="icon modal__cross js-modal-close">
            <use xlink:href="img/icons/icons.svg#close-icon"></use>
        </svg>
    </div>
    <div class="modal__wrapper modal-contact modal-start">
       <p class="modal-price__quantity">
            5 товаров на 2 245 ₽
       </p>
       <div class="modal-price__list" data-simplebar>
            <div class="cart modal-price__cart">
                <div class="modal-price__img">
                    <picture><source srcset="img/goods/goods1.webp" type="image/webp"><img class="cart__img-item element-animation" src="img/goods/goods1.png" alt="img"></picture>
                </div>
                <div class="modal-price__info">
                    <div class="modal-price__wrapper flex sb cv">
                        <div class="modal-price__title">
                            <div class="cart__name">
                                Браслет
                            </div>
                            <div class="cart__material">
                                Металл
                            </div>
                        </div>
                        <button class="modal-price__delete">
                            <svg class="icon">
                                <use xlink:href="img/icons/icons.svg#basket-del"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="cart__wrapper">
                        <div class="cart__price">145 000 ₽</div>
                        <div class="quantity">
                            <button class="quantity__del">
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#quantity-del"></use>
                                </svg>
                            </button>
                            <div class="quantity__number">
                                1
                            </div>
                            <button class="quantity__add">
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#quantity-add"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart modal-price__cart">
                <div class="modal-price__img">
                    <picture><source srcset="img/goods/goods6.webp" type="image/webp"><img class="cart__img-item element-animation" src="img/goods/goods6.png" alt="img"></picture>
                </div>
                <div class="modal-price__info">
                    <div class="modal-price__wrapper flex sb cv">
                        <div class="modal-price__title">
                            <div class="cart__name">
                                Стол обеденный раздвижной
                            </div>
                            <div class="cart__material">
                                Металл, дерево, краска
                            </div>
                        </div>
                        <button class="modal-price__delete">
                            <svg class="icon">
                                <use xlink:href="img/icons/icons.svg#basket-del"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="cart__wrapper">
                        <div class="cart__price">145 000 ₽</div>
                        <div class="quantity">
                            <button class="quantity__del">
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#quantity-del"></use>
                                </svg>
                            </button>
                            <div class="quantity__number">
                                1
                            </div>
                            <button class="quantity__add">
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#quantity-add"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart modal-price__cart">
                <div class="modal-price__img">
                    <picture><source srcset="img//proposal/proposal-one.webp" type="image/webp"><img class="cart__img-item element-animation" src="img//proposal/proposal-one.png" alt="img"></picture>
                </div>
                <div class="modal-price__info">
                    <div class="modal-price__wrapper flex sb cv">
                        <div class="modal-price__title">
                            <div class="cart__name">
                                Статуэтка Корова
                            </div>
                            <div class="cart__material">
                                Металл, дерево, краска
                            </div>
                        </div>
                        <button class="modal-price__delete">
                            <svg class="icon">
                                <use xlink:href="img/icons/icons.svg#basket-del"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="cart__wrapper">
                        <div class="cart__price">145 000 ₽</div>
                        <div class="quantity">
                            <button class="quantity__del">
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#quantity-del"></use>
                                </svg>
                            </button>
                            <div class="quantity__number">
                                1
                            </div>
                            <button class="quantity__add">
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#quantity-add"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart modal-price__cart">
                <div class="modal-price__img">
                    <picture><source srcset="img/goods/goods14.webp" type="image/webp"><img class="cart__img-item element-animation" src="img/goods/goods14.png" alt="img"></picture>
                </div>
                <div class="modal-price__info">
                    <div class="modal-price__wrapper flex sb cv">
                        <div class="modal-price__title">
                            <div class="cart__name">
                                Браслет
                            </div>
                            <div class="cart__material">
                                Металл, камень
                            </div>
                        </div>
                        <button class="modal-price__delete">
                            <svg class="icon">
                                <use xlink:href="img/icons/icons.svg#basket-del"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="cart__wrapper">
                        <div class="cart__price">145 000 ₽</div>
                        <div class="quantity">
                            <button class="quantity__del">
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#quantity-del"></use>
                                </svg>
                            </button>
                            <div class="quantity__number">
                                1
                            </div>
                            <button class="quantity__add">
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#quantity-add"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart modal-price__cart">
                <div class="modal-price__img">
                    <picture><source srcset="img/goods/goods15.webp" type="image/webp"><img class="cart__img-item element-animation" src="img/goods/goods15.png" alt="img"></picture>
                </div>
                <div class="modal-price__info">
                    <div class="modal-price__wrapper flex sb cv">
                        <div class="modal-price__title">
                            <div class="cart__name">
                                Браслет
                            </div>
                            <div class="cart__material">
                                Бронза, краска
                            </div>
                        </div>
                        <button class="modal-price__delete">
                            <svg class="icon">
                                <use xlink:href="img/icons/icons.svg#basket-del"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="cart__wrapper">
                        <div class="cart__price">145 000 ₽</div>
                        <div class="quantity">
                            <button class="quantity__del">
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#quantity-del"></use>
                                </svg>
                            </button>
                            <div class="quantity__number">
                                1
                            </div>
                            <button class="quantity__add">
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#quantity-add"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart modal-price__cart">
                <div class="modal-price__img">
                    <picture><source srcset="img/goods/goods16.webp" type="image/webp"><img class="cart__img-item element-animation" src="img/goods/goods16.png" alt="img"></picture>
                </div>
                <div class="modal-price__info">
                    <div class="modal-price__wrapper flex sb cv">
                        <div class="modal-price__title">
                            <div class="cart__name">
                                Браслет
                            </div>
                            <div class="cart__material">
                                Бронза
                            </div>
                        </div>
                        <button class="modal-price__delete">
                            <svg class="icon">
                                <use xlink:href="img/icons/icons.svg#basket-del"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="cart__wrapper">
                        <div class="cart__price">145 000 ₽</div>
                        <div class="quantity">
                            <button class="quantity__del">
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#quantity-del"></use>
                                </svg>
                            </button>
                            <div class="quantity__number">
                                1
                            </div>
                            <button class="quantity__add">
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#quantity-add"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart modal-price__cart">
                <div class="modal-price__img">
                    <picture><source srcset="img/goods/goods17.webp" type="image/webp"><img class="cart__img-item element-animation" src="img/goods/goods17.png" alt="img"></picture>
                </div>
                <div class="modal-price__info">
                    <div class="modal-price__wrapper flex sb cv">
                        <div class="modal-price__title">
                            <div class="cart__name">
                                Браслет
                            </div>
                            <div class="cart__material">
                                Бронза, краска
                            </div>
                        </div>
                        <button class="modal-price__delete">
                            <svg class="icon">
                                <use xlink:href="img/icons/icons.svg#basket-del"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="cart__wrapper">
                        <div class="cart__price">145 000 ₽</div>
                        <div class="quantity">
                            <button class="quantity__del">
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#quantity-del"></use>
                                </svg>
                            </button>
                            <div class="quantity__number">
                                1
                            </div>
                            <button class="quantity__add">
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#quantity-add"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart modal-price__cart">
                <div class="modal-price__img">
                    <picture><source srcset="img/goods/goods18.webp" type="image/webp"><img class="cart__img-item element-animation" src="img/goods/goods18.png" alt="img"></picture>
                </div>
                <div class="modal-price__info">
                    <div class="modal-price__wrapper flex sb cv">
                        <div class="modal-price__title">
                            <div class="cart__name">
                                Браслет
                            </div>
                            <div class="cart__material">
                                Бронза, краска
                            </div>
                        </div>
                        <button class="modal-price__delete">
                            <svg class="icon">
                                <use xlink:href="img/icons/icons.svg#basket-del"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="cart__wrapper">
                        <div class="cart__price">145 000 ₽</div>
                        <div class="quantity">
                            <button class="quantity__del">
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#quantity-del"></use>
                                </svg>
                            </button>
                            <div class="quantity__number">
                                1
                            </div>
                            <button class="quantity__add">
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#quantity-add"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="favourites-btn basket go-arrange">
        <div class="basket__wrapper">
            <p class="basket__order">
                Ваш заказ
            </p>
            <div class="basket__list">
                <div class="basket__info flex cv sb">
                    <p>
                        Товары (5)
                    </p>
                    <p class="fw-600">
                        12 299 ₽
                    </p>
                </div>
                <div class="basket__info flex cv sb">
                    <p>
                        Скидка:
                    </p>
                    <p class="gray-main">
                        -299 ₽
                    </p>
                </div>
            </div>
            <div class="basket__result flex cv sb">
                <p>Итого:</p>
                <p>2 245 ₽</p>
            </div>
        </div>
        <button class="shop-btn">
            Перейти к оформлению
        </button>
    </div>
    <div class="basket-buy">
        <p class="normal-title">
            Оформление заказа
        </p>
        <div class="basket-buy__wrapper" data-simplebar>
            <p class="basket-buy__text">
                Получатель
            </p>
            <div class="basket-buy__recipient">
                <div class="block-name">
                    <input type="text" placeholder="ФИО*" class="basker-input necessarily">
                    <p class="text-error">Поле обязательно к заполнению</p>
                </div>
                <div class="block-name">
                    <input type="tel" placeholder="Телефон*" class="basker-input form__tel necessarily">
                    <p class="text-error">Поле обязательно к заполнению</p>
                </div>
                <input type="email" placeholder="E-mail" class="basker-input">
            </div>
            <p class="basket-buy__text">
                Адрес доставки
            </p>
            <div class="basket-buy__address">
                <div class="block-name">
                    <input type="text" placeholder="Город*" class="basker-input necessarily">
                    <p class="text-error">Поле обязательно к заполнению</p>
                </div>
                <div class="block-name">
                    <input type="text" placeholder="Улица*" class="basker-input necessarily">
                    <p class="text-error">Поле обязательно к заполнению</p>
                </div>
                <div class="basket-buy__house">
                    <input type="text" placeholder="Дом" class="basker-input">
                    <input type="text" placeholder="Корпус" class="basker-input">
                    <input type="text" placeholder="Квартира" class="basker-input">
                </div>
                <textarea placeholder="Комментарий к доставке"></textarea>
            </div>
            <div class="basket-buy__bottom">
                <div class="basket__wrapper">
                    <p class="basket__order">
                        Ваш заказ
                    </p>
                    <div class="basket__list">
                        <div class="basket__info flex cv sb">
                            <p>
                                Товары (5)
                            </p>
                            <p class="fw-600">
                                12 299 ₽
                            </p>
                        </div>
                        <div class="basket__info flex cv sb">
                            <p>
                                Доставка
                            </p>
                            <p class="fw-600">
                                600 ₽
                            </p>
                        </div>
                        <div class="basket__info flex cv sb">
                            <p>
                                Скидка:
                            </p>
                            <p class="gray-main">
                                -299 ₽
                            </p>
                        </div>
                    </div>
                    <div class="basket__result flex cv sb">
                        <p>Итого:</p>
                        <p>2 245 ₽</p>
                    </div>
                </div>
                <button class="shop-btn go-buy">
                    Оформить заказ
                </button>
                <div class="form__acceptance flex cv">
                    <label class="chek-container">
                        <input type="checkbox" class="form__chekbox">
                        <span class="checkmark"></span>
                    </label>
                    <p>
                        Я согласен с условиями <a href="#" target="_blank">пользовательского соглашения.</a>
                    </p>
                    <p class="text-error">Поле обязательно к заполнению</p>
                </div>
            </div>
        </div>
    </div>
    <div class="basket-thx">
        <h2 class="normal-title">
            Спасибо!
        </h2>
        <p class="gray-key">
            Мы скоро свяжется с вами
        </p>
        <p>
            Ваш заказ № 01452 от 01.01.2021 г.
        </p>
        <button class="shop-btn js-modal-close">
            Хорошо
        </button>
    </div>
</div>