<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__contact">
                <div class="footer__tel">
                    <a href="tel:+74993940379">+7 (499) 394-03-79</a>
                </div>
                <a href="#" class="footer__address">
                    г. Москва, ул. Новопесчаная, д. 23, корп.4
                </a>
                <div class="footer__mail">
                    <a href="mailto:lvin-art@mail.ru">lvin-art@mail.ru</a>
                </div>
                <div class="footer__icon">
                    <a href="#" class="flex-cc">
                        <svg class="icon">
                            <use xlink:href="img/icons/icons.svg#social-tel"></use>
                        </svg>
                    </a>
                    <a href="#" class="flex-cc">
                        <svg class="icon">
                            <use xlink:href="img/icons/icons.svg#social-ws"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="footer__btn">
                <a href="#">О магазине</a>
                <a href="#">Статьи</a>
                <a href="#">Контакты</a>
                <a href="#">Новинки</a>
                <a href="#">Антиквариат</a>
                <a href="#">Мебель под заказ</a>
                <a href="#">Мебель</a>
                <a href="#">Предметы интерьера</a>
                <a href="#">Шкатулки, сундучки</a>
                <a href="#">Текстиль</a>
                <a href="#">Игрушки</a>
                <a href="#">Бижутерия</a>
                <a href="#">Свет</a>
                <a href="#">Женские сумочки</a>
                <a href="#">Изделия из мрамора и камня</a>
            </div>
        </div>
        <div class="footer__bot">
            <p class="footer__date"></p>
            <a href="#" class="footer__bottom-politic">Политика конфиденциальности</a>
            <a href="#" class="footer__bottom-agreement">Пользовательское соглашение</a>
            <a href="https://siart.pro/" target="_blank" class="footer__developers flex cv">
                <svg class="icon">
                    <use xlink:href="img/icons/icons.svg#developers"></use>
                </svg>
                <p>
                    Разработка сайта
                </p>
            </a>
        </div>
    </div>
</footer>

<div id="toTop" class="flex-cc">
    <svg class="icon">
        <use xlink:href="img/icons/icons.svg#toTop"></use>
    </svg>
</div>

<div class="modal modal-right" data-modal="1">
    <div class="modal__close">
        <svg class="icon modal__cross js-modal-close">
            <use xlink:href="img/icons/icons.svg#close-icon"></use>
        </svg>
    </div>
    <div class="modal__wrapper modal-contact modal-start">
        <h2 class="title">
            обратный звонок
        </h2>
        <p class="modal__fill">
            Заполните форму и наш менеджер скоро свяжется с вами
        </p>
        <div class="form">
            <div class="block-name">
                <input type="text" placeholder="Имя" class="form__name">
                <p class="text-error">Поле обязательно к заполнению</p>
            </div>
            <div class="block-tel">
                <input type="tel" placeholder="Телефон" class="form__tel">
                <p class="text-error">Введите номер телефона</p>
            </div>
            <button class="main-btn form__btn">Отправить</button>
            <div class="form__acceptance flex cv">
                <label class="chek-container">
                    <input type="checkbox" class="form__chekbox">
                    <span class="checkmark"></span>
                </label>
                <p>
                    Я согласен с условиями <a href="#" target="_blank">пользовательского соглашения.</a>
                </p>
                <p class="text-error">Поле обязательно к заполнению</p>
            </div>
        </div>
    </div>
    <div class="modal__wrapper modal-contact modal-thx">
        <div class="center">
            <h2 class="title">
                Спасибо!
            </h2>
            <p>
                Наш менеджер скоро свяжется с вами
            </p>
        </div>
        <button class="main-btn js-modal-close">Хорошо</button>
    </div>
</div>

<div class="modal modal-left modal-menu" data-modal="2">
    <div class="modal__close">
        <svg class="icon modal__cross js-modal-close">
            <use xlink:href="img/icons/icons.svg#close-icon"></use>
        </svg>
    </div>
    <div class="header__menu-wrapper flex dc">
        <div class="header__menu-top">
            <a href="#" class="header__logo flex cv">
                <div>
                    <img src="img/header/menu-logo.svg" alt="logo">
                </div>
                <p>
                    Галерея Колониального Интерьера 
                </p>
            </a>
        </div>
        <div class="header__menu-center">
            <div class="header__menu-btn" data-simplebar>
                <div class="header__menu-item">
                    <p class="header__menu-back back-oneLevel">Назад</p>
                    <p class="title">Каталог</p>
                    <ul class="header__menu-product">
                        <li class="header__menu-li">
                            <div class="header__menu-info flex cv sb">
                                <p>Мебель</p>
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#toTop"></use>
                                </svg>
                            </div>
                            <div class="header__li-wrapper">
                                <p class="header__menu-back back-twoLevel">Назад</p>
                                <p class="title">Мебель</p>
                                <a href="#">Двери, порталы, паркет</a>
                                <a href="#">Диваны, скамейки, банкетки</a>
                                <a href="#">Качели, качалки</a>
                                <a href="#">Комоды, тумбы под TV</a>
                                <a href="#">Кресла</a>
                                <a href="#">Кровати</a>
                                <a href="#">Подставки, колонны, кронштейны</a>
                                <a href="#">Полки настенные, напольные</a>
                                <a href="#">Столы, консоли</a>
                                <a href="#">Стулья</a>
                                <a href="#">Сундуки</a>
                                <a href="#">Табуреты</a>
                                <a href="#">Тумбочки</a>
                                <a href="#">Ширмы</a>
                                <a href="#">Шкафы, стеллажи, этажерки</a>
                            </div>
                        </li>
                        <li class="header__menu-li">
                            <div class="header__menu-info flex cv sb">
                                <p>Предметы интерьера</p>
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#toTop"></use>
                                </svg>
                            </div>
                            <div class="header__li-wrapper">
                                <p class="header__menu-back back-twoLevel">Назад</p>
                                <p class="title">Предметы интерьера</p>
                                <a href="#">Мебель</a>
                                <a href="#">Диваны</a>
                                <a href="#">Лампы</a>
                                <a href="#">Комоды</a>
                                <a href="#">Кресла</a>
                            </div>
                        </li>
                        <li class="header__menu-li">
                            <div class="header__menu-info flex cv sb">
                                <p>Шкатулки, сундучки</p>
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#toTop"></use>
                                </svg>
                            </div>
                            <div class="header__li-wrapper">
                                <p class="header__menu-back back-twoLevel">Назад</p>
                                <p class="title">Шкатулки, сундучки</p>
                                <a href="#">Тест 1</a>
                                <a href="#">Тест 2</a>
                                <a href="#">Тест 3</a>
                                <a href="#">Тест 4</a>
                                <a href="#">Тест 5</a>
                                <a href="#">Тест 6</a>
                                <a href="#">Тест 7</a>
                                <a href="#">Тест 8</a>
                            </div>
                        </li>
                        <li class="header__menu-li">
                            <div class="header__menu-info flex cv sb">
                                <p>Текстиль</p>
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#toTop"></use>
                                </svg>
                            </div>
                            <div class="header__li-wrapper">
                                <p class="header__menu-back back-twoLevel">Назад</p>
                                <p class="title">Текстиль</p>
                                <a href="#">Тест 3</a>
                                <a href="#">Тест 4</a>
                                <a href="#">Тест 5</a>
                                <a href="#">Тест 6</a>
                                <a href="#">Тест 7</a>
                                <a href="#">Тест 8</a>
                            </div>
                        </li>
                        <li class="header__menu-li">
                            <div class="header__menu-info flex cv sb">
                                <p>Бижутерия</p>
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#toTop"></use>
                                </svg>
                            </div>
                            <div class="header__li-wrapper">
                                <p class="header__menu-back back-twoLevel">Назад</p>
                                <p class="title">Бижутерия</p>
                                <a href="#">Тест 1</a>
                                <a href="#">Тест 2</a>
                                <a href="#">Тест 3</a>
                                <a href="#">Тест 4</a>
                                <a href="#">Тест 5</a>
                                <a href="#">Тест 6</a>
                                <a href="#">Тест 7</a>
                                <a href="#">Тест 8</a>
                                <a href="#">Тест 9</a>
                                <a href="#">Тест 10</a>
                                <a href="#">Тест 11</a>
                            </div>
                        </li>
                        <li class="header__menu-li">
                            <div class="header__menu-info flex cv sb">
                                <p>Свет</p>
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#toTop"></use>
                                </svg>
                            </div>
                            <div class="header__li-wrapper">
                                <p class="header__menu-back back-twoLevel">Назад</p>
                                <p class="title">Свет</p>
                                <a href="#">Тест 1</a>
                                <a href="#">Тест 2</a>
                                <a href="#">Тест 3</a>
                                <a href="#">Тест 4</a>
                                <a href="#">Тест 5</a>
                                <a href="#">Тест 6</a>
                                <a href="#">Тест 7</a>
                                <a href="#">Тест 8</a>
                                <a href="#">Тест 9</a>
                            </div>
                        </li>
                        <li class="header__menu-li">
                            <div class="header__menu-info flex cv sb">
                                <p>Женские сумочки</p>
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#toTop"></use>
                                </svg>
                            </div>
                            <div class="header__li-wrapper">
                                <p class="header__menu-back back-twoLevel">Назад</p>
                                <p class="title">Женские сумочки</p>
                                <a href="#">Тест 1</a>
                                <a href="#">Тест 2</a>
                                <a href="#">Тест 3</a>
                                <a href="#">Тест 4</a>
                                <a href="#">Тест 5</a>
                                <a href="#">Тест 7</a>
                                <a href="#">Тест 8</a>
                            </div>
                        </li>
                        <li class="header__menu-li">
                            <div class="header__menu-info flex cv sb">
                                <p>Изделия из мрамора и натурального камня</p>
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#toTop"></use>
                                </svg>
                            </div>
                            <div class="header__li-wrapper">
                                <p class="header__menu-back back-twoLevel">Назад</p>
                                <p class="title">Изделия из мрамора и натурального камня</p>
                                <a href="#">Тест 1</a>
                                <a href="#">Тест 2</a>
                                <a href="#">Тест 3</a>
                                <a href="#">Тест 4</a>
                                <a href="#">Тест 5</a>
                                <a href="#">Тест 6</a>
                                <a href="#">Тест 7</a>
                                <a href="#">Тест 8</a>
                            </div>
                        </li>
                        <li class="header__menu-li">
                            <div class="header__menu-info flex cv sb">
                                <p>Игрушки</p>
                                <svg class="icon">
                                    <use xlink:href="img/icons/icons.svg#toTop"></use>
                                </svg>
                            </div>
                            <div class="header__li-wrapper">
                                <p class="header__menu-back back-twoLevel">Назад</p>
                                <p class="title">Игрушки</p>
                                <a href="#">Тест 1</a>
                                <a href="#">Тест 2</a>
                                <a href="#">Тест 3</a>
                            </div>
                        </li>
                        <a href="#" class="header__menu-li">
                            <div class="header__menu-info flex cv sb">
                                <p>Просто ссылка</p>
                            </div>
                        </a>
                    </ul>
                </div>
                <div class="header__menu-item">
                    <a class="title" href="#">Мебель под заказ</a>
                </div>
                <div class="header__menu-item">
                    <a class="title" href="#">Антиквариат</a>
                </div>
                <div class="header__menu-item">
                    <a class="title" href="#">О магазине</a>
                </div>
                <div class="header__menu-item">
                    <a class="title" href="#">Статьи</a>
                </div>
                <div class="header__menu-item">
                    <a class="title" href="#">Контакты</a>
                </div>
            </div>
        </div>
        <div class="header__menu-bottom flex sb">
            <div class="header__menu-social">
                <a href="#" class="flex-cc">
                    <svg class="icon">
                        <use xlink:href="img/icons/icons.svg#social-tel"></use>
                    </svg>
                </a>
                <a href="#" class="flex-cc">
                    <svg class="icon">
                        <use xlink:href="img/icons/icons.svg#social-ws"></use>
                    </svg>
                </a>
            </div>
            <a href="#" class="header__menu-address">
                ул. Новопесчаная,  д. 23, корп.4
            </a>
        </div>
    </div>
</div>
 
<!-- Подложка под модальным окном -->
<div class="overlay js-overlay-modal"></div>
<script src="js/app.min.js?_v=20221007181453"></script>
<script src="script/form.js?_v=20221007181453"></script>